.navbar-inverse{
    background-color: black;
    border-color: crimson;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right:auto ;
    margin-left:auto ;

}

.navbar-header{
    margin-right:15px ;
    margin: left 15px; 
}